* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;;
  background: black;
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.background-grid.base {
  background-image: radial-gradient(#3e3e3e 1px, transparent 1.2px); 
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.6;}


.background-grid.glow {
  background-image: radial-gradient(#6038f3 1px, transparent 1.2px); 
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  
  mask-image: radial-gradient(circle 180px at var(--x, 50%) var(--y, 50%), white 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle 180px at var(--x, 50%) var(--y, 50%), white 60%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  transition: mask-position 0.05s ease-out;
}


.box {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding-bottom: 5rem;
  min-height: 100vh;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  z-index: 3;
  width: 100%;
  max-width: 1500px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 6px solid #1c1c1c;
  background-image: linear-gradient(#000, #000), linear-gradient(135deg, #08d6d6c4, #4107b5);
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin: 1rem 0 25px;
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

.profile-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

 .heading-section1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.highlight {
  font-weight: 600;
}

.second {
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.mar {
  margin-bottom: 0.3rem;
  font-size: 2.1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.847);
}

.mar2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.847);
}

.small {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.847);
  margin-bottom: 2rem;
}

@keyframes gradientFill {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.light1 {
  display: inline-block;
  padding: 0.01rem 0.4rem;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(5, 161, 222), #7c30ee);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: left;
  color: rgba(255, 255, 255, 0.847);
  animation: gradientFill 3s ease-in-out forwards;
}

.light2 {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}
.light3 {
  font-weight: 350;
  font-size: 1.4rem;
}

@keyframes pulseTag {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0px #0ea5e9;
  }

  100% {
    transform: scale(1.05);
    box-shadow: 0 0 12px #0ea5e9;
  }
}

.social-icons {
  padding: 0.7rem;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1.5rem;
  backdrop-filter: blur(4px);
  z-index: 999;
}

.social-icons a {
  color: white;
  font-size: 1.4rem;
  background: #111;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, background 0.3s, color 0.3s;
  box-shadow: 0 0 10px #00000066;
}

.social-icons a:hover {
  transform: scale(1.3);
  background: #222;
  color: rgb(0, 183, 255);
}

@media (max-width: 1024px) {
   .heading-section1 {
    font-size: 2.5rem;
  }
  .box{
    padding-bottom: 2rem;
    min-height:70vh;
    margin-bottom: 2rem;;
  }

  .second {
    font-size: 1.5rem;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 1.2rem;
  }

  .profile-img {
    width: 200px;
    height: 200px;
  }

  .heading-section1{
    font-size: 2.4rem;
  }

  .second {
    font-size: 1.6rem;
  }
  .mar{
    font-size: 1.4;
    font-weight: 350;
  }

}

@media (max-width: 480px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }
  .box{
    padding-top: 2rem;
    padding-bottom:2rem ;
  }
   .heading-section1{
    font-size: 2.7rem;
    margin-bottom: 1rem;
  }

  .small{
    font-size:1.1rem;
  }

  .second {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;;
  }
  .light2 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0rem;
}
.light3 {
  font-weight: 350;
  font-size: 1.5rem;
  padding:0.1rem 0.2rem;
}
 .mar{
    font-size: 1.4rem;
    font-weight: 350;
  }
   .mar2{
    font-size: 1.3rem;
    font-weight: 350;
  }
  .background-grid.base {
    opacity: 0.4;
  background-image: radial-gradient(#3e3e3e 1.1px, transparent 1px); }
}




